# Commodities
vendor/*
!vendor/.gitkeep

# WordPress
app/wordpress
app/.htaccess
app/content/upgrade
app/content/uploads/*
!app/content/uploads/.gitkeep

# Plugins
app/content/plugins/*
!app/content/plugins/.gitkeep
app/content/mu-plugins/*
!app/content/mu-plugins/.gitkeep
!app/content/mu-plugins/bedrock-autoloader.php
# remember to exlude custom plugins from being ignored 
# example: !app/plugins/plugintobepreserved

# SQLITE DB
database
!database/.gitkeep

# Composer lock file
composer.lock

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk